@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(136, 192, 208);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 880px;
  min-width: 465px;
  min-height: 600px;
  margin: 50px auto;
  background:#2E3440;
  padding: 20px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 12px rgba(32, 46, 49, 0.1);
}

h1{
  text-align: center;
  margin-bottom: 40px; 
  color: #B48EAD;
}

.color_select{
  font-size: 3em;
  color: white;
  text-transform: uppercase;
}

.space_botoes{
  display: flex;
  justify-content: center;
  height: 43px;
  background-color: white;
  width: 100%;
}

.space_botoes > div{
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 100%;
}

.btn, .modeSelect{
  height: 100%;
  font-size: 28px;
  padding: 0px 10px;
  background-color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover, .modeSelect{
  background-color: #2E3440;
  color: white;
}

#easy:visited{
  background-color: #2E3440;
}

#timer{
  font-size: 25px;
}

.choice_color{
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.color{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  margin: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .color_select{
    font-size: 2.2em;
  }

  .btn{
    font-size: 22px;
  }
  .space_botoes, .btn{
    height: 50px;
  }
}
